@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
body {
    margin: 0;
    background:#ca9e7b;
    text-align: center;
    font-family: 'Baskervville', serif;
}
.topnav {
    margin: 0;
    background: #e9cba7;
    text-align: center; 
}
.latest-review {
    text-align: left;
}
h1 {
    padding-top: 12px;
    padding-bottom: 6px
}
.container {
    margin-left: auto;
    margin-right: auto;
}