@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
/* if you have trouble with css not working, try browser cache clearing */
body {
    margin: 0;
    background:#ca9e7b;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.topnav {
    background: #e9cba7;
    height:40px;
    text-align: center; 
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.topnav .hank{
  left: 100px;
}

.page-title{
    text-align: left;
    font-weight: 500;
}
h1 {
    padding-top: 12px;
    padding-bottom: 6px
}
.container {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: brown;
    text-decoration: none;
} 

a:hover{
    color:#ca9e7b;
    text-decoration: none;
}

u {
    color: brown;
    text-decoration: underline;
    text-decoration-color: brown;
}