body {
    margin: 0;
    background:pink;
    text-align: center;
}
.topnav {
    margin: 0;
    background: red;
    text-align: center;
}
.latest-review {
    text-align: left;
}

html * {
    font-family: 'Playfair Display', serif;
}